{% extends "AppGrupo/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <h1 class="inicio_coder">INICIO</h1>

<ul>
    <li><a href="consultorio">Consultorios</a></li>
    <li><a href="consultorioForm">Agregar Consultorio</a></li>
    <li><a href="busquedaconsultorio">Buscar Consultorio</a></li>
    <li><a href="especialidadForm">Agregar Especialidades</a></li>
    <li><a href="profesionalForm">Agregar Profesionales</a></li>
    <li><a href="pacienteForm">Agregar Pacientes</a></li>
</ul>

{% endblock %}
